*{
    font-family: 'Arial', sans-serif;
    margin : 0;
    padding: auto;
    box-sizing: border-box;
    /**background-image: url("https://img.freepik.com/free-vector/red-pink-gradient-abstract-background_53876-62185.jpg?size=626&ext=jpg&ga=GA1.1.439392618.1704891058&semt=ais");**/
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("https://img.freepik.com/free-vector/red-pink-gradient-abstract-background_53876-62185.jpg?size=626&ext=jpg&ga=GA1.1.439392618.1704891058&semt=ais");
    color: #333;
 }
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/anu2.jpg);
    background-size: cover;
    background-position: right;
    
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.LOGO{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: blue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: aff004f;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: crimson;
}
/*---------------------------------------------ABOUT--------------------------------------*/
#ABOUT{
    padding-left: 0px;
    padding-right: 100px;
    color: lavender;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    color: navy;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-col-2{
    flex-basis: 100%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: olivedrab;
}
.column-3a{
    float: left;
    width: 45%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    height: 450px;
    margin: 2%;
    margin-bottom: 0px;
    margin-right: 30px;
    
}
.column-3a span{
    color: #ff004f;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 10px;
}
.contact-left p i{
    color: crimson;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
     text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #ababab;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: pink;
    padding: 50px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: white;
    font-weight: 300;
    margin-top: 20px;
}
#msg{
    color: #61b752;
    margin-top: 40px;
    display: block;
}
